.heroImg {
    width: 100%;
    object-fit: cover;
    z-index: 1;
    display: flex;
    filter: brightness(60%);
}

.heroContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.hero {
    background-image: url(../../assets/burgerHero.jpg);
    background-repeat: no-repeat;
    min-height: 100%;
}
