@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.storyImage {
    width: 100vw;
    height: 60vh;
    background-image: url(../../assets/riverwalk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroTextStory {
    color: white;
    font-size: 5rem;
    font-family: 'Bangers';
}

.storyTextContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background-color: #F2E2E1; */
    background-color: rgb(221, 228, 248);
}

.textBox {
    /* background-color: rgb(8, 39, 37); */
    /* background: linear-gradient(rgb(227, 233, 233), rgb(96, 96, 175)); */
    margin: 3rem 0 4rem 0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.story > h1 {
    text-align: center;
    margin: 2rem;
    font-family: 'bangers';
}

.story > p {
    /* text-align: center; */
    margin: 0;
    width: 70%;
    margin: auto;
    padding-bottom: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media all and (max-width: 768px) {
    .heroTextStory {
        text-align: center;
    }
}