.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* background-color: #F2E2E1; */
    background: linear-gradient(to bottom right, #B6D3FF, #0080FF);
    min-height: 7rem;
}

#logo {
    max-width: fit-content;
}

.logoImg {
    margin-left: 7rem;
    height: 8rem;
}

.redBar{
    width: 100vw;
    height: 0.2rem;
    background-color: rgb(255, 21, 21);
}

@media all and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logoImg {
        margin: auto;
    }

    #logo {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

}