.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: white;
    min-height: 7rem;
}

.logoImg {
    margin-left: 10%;
    height: 8rem;
}

.redBar{
    width: 100vw;
    height: 0.2rem;
    background-color: rgb(191, 4, 4);
}

@media all and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}