@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.nav {
    padding-top: 4px;
    margin-right: 7rem;
    display: flex;
    width: 50%;
}

.nav ul {
    display: flex;
    float: right;
    width: 100%;
    /* list-style-type: none; */
    /* margin: auto; */
    justify-content: space-around;
}

.nav li {
    display: flex;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    /* margin-right: 8rem; */
    font-size: 16px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(228, 3, 3);

    transition: all 400ms ease;
    justify-content: space-between;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Bangers';
    font-size: 2rem;
}

.nav ul li a:hover {
    color: red;
    transition: all 400ms ease;
}

@media all and (max-width: 768px) {
    .nav{
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100vw;
    }
    
    .nav ul{
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .nav ul li a {
        font-size: 16px;
    }
}