@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    height: 150px;
    /* background-color: rgb(208, 208, 208); */
    background-color: #f2e2e164;
    position: relative;
    
}

.container > ul {
    list-style-type: none;
    display: flex;
    width: 100vw;
    margin: auto;
    position: absolute;
    top: -40%;
}

.miniHero {
    max-width: 20%;
    min-width: 25%;
    height: 120px;
    border: 3px;
    border-style: solid;
    border-color: #F2E2E1;
    border-radius: 20px;
    margin: auto;
    font-family: 'bangers';
    color: red;
}

#happyHour {
    background-image: url(../../assets/tap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

#featured {
    background-image: url(../../assets/tacos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

#events {
    background-image: url(../../assets/cheers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

a {
    width: 100%;
    /* color: #F2E2E1; */
    color: rgb(229, 36, 36);
    font-size: 1.2rem;
    margin: none;
    position: relative;
}

a h2 {
    position: absolute;
    /* background-color: #f2e2e1cf; */
    background-color: #dedee6b7;
    border-style: solid none;
    border-width: 1px;
    border-color: #F2E2E1;
    width: 100%;
    margin: 0;
    top: 35%;
}