.footerContainer {
    width: 100vw;
    background-color: rgb(210, 206, 206);
    height: 8rem;
    display: flex;
    justify-content: center;
}

.footerNav {
    width: 60%;
    display: flex;
    justify-content: space-around;
}



.footerLeft {
    /* display: flex;; */
    justify-content: center;
    padding: 1rem;
    justify-content: space-around;
}

.footerRight {
    margin-top: 3rem;
    width: fit-content;
    /* display: flex; */
}

.footerRight > ul {
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials > a {
    color: black;
    width: fit-content;
}

.createdBy {
    font-size: 12px;
}