
.footerContainer {
    width: 100vw;
    /* background-color: #A56A69; */
    background-color: #0057AB; 
    height: 12.5rem;
    display: flex;
    justify-content: center;
}

.footerNav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    /* color: #F2E2E1; */
    color: white;
}

.footerLeft {
    /* display: flex;; */
    justify-content: center;
    padding: 1rem;
    justify-content: space-around;
}

.footerRight {
    margin-top: 3rem;
    width: fit-content;
    /* display: flex; */
}

.footerRight > ul {
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials > a {
    /* color: #F2E2E1; */
    color: white;
    width: fit-content;
}

.createdBy {
    font-size: 12px;
}